body {
    background-color: #e4ddc7;
}

.notes {
    background-color: #d1c5a7;
    max-width: 450px;
    min-height: 400px;
    border-radius: 30px;
    margin-top: 150px;
    margin-left: 35%;
    
}

.add-task {
    display: inline-block;
    width: 100%;
    background-color: rgba(19, 19, 75, 0.788);
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.add-tusk__input {
    height: 21px;
    width: 190px;
    margin-left: 20px;
    padding-left: 5px;
    border-radius: 15px;
    font-size: 18px;
}

.add-tusk__input-italic {
    height: 21px;
    width: 190px;
    margin-left: 20px;
    padding-left: 5px;
    border-radius: 15px;
    font-style: italic;
    font-size: 18px;
}

.add-tusk__input-bold {
    height: 21px;
    width: 190px;
    margin-left: 20px;
    padding-left: 5px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}


.add-tusk__btn-add,
.add-tusk__btn-italic,
.add-tusk__btn-bold {
    position: relative;
    height: 25px;
    left: 50px;
    margin-right: 5px;
    font: inherit;
    color: rgba(19, 19, 75, 0.788);
    border: none;
    border-radius: 15px;
}

.add-tusk__btn-italic,
.add-tusk__btn-bold {
    width: 30px;
    
}

.add-tusk__btn-italic-active, .add-tusk__btn-bold-active {
    color: #fff;
    position: relative;
    height: 25px;
    width: 30px;
    margin-right: 5px;
    left: 50px;
    font: inherit;
    border: none;
    border-radius: 15px;
}


.create-task{
padding-top: 50px;
padding-bottom: 25px;
}

.task {
    display: block;
    margin-bottom: 50px;
}

p {
    display: inline-block;
    font-size: 18px;
    color: rgba(19, 19, 75, 0.788);
    width: 225px;
    margin-right: 30px;
    margin-left: 20px;

}


.task__btn-delete,
.task__btn-edit {
    position: relative;
    height: 25px;
    font: inherit;
    color: rgba(19, 19, 75, 0.788);
    margin-right: 15px;
    border: none;
    border-radius: 15px;
}