.notes {
    position: absolute;
    margin-top: 150px;
    margin-left: 500px;
    max-width: 450px;
}

.task__btn-delete,
.task__btn-edit {
    height: 35px;
}

.task {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.task__text {
    margin-right: 20px;
}